.sign-in-container {
    overflow: hidden;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem 0 rgb(0, 0, 0, 0.1);
    background-color: #F2F2F2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

.form-container {
    height: 100vh;
    background-color: white;
}

.image-container {
    height: 100vh;
    background-color: #1D1CE5;
    background-image: url("../../assets/signin_bg.png");
}

.image-container .text-container{
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
    padding: 10px;
    top: 25vh;
    bottom: 25vh;
    position: relative;
}

.image-container .text-container .heading {
    font-weight: bold;
    font-size: 70px;
    color: white;
}

.image-container .text-container .subheading {
    font-size: 25px;
    color: white;
}